body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Satoshi-var';
  src: url('../src/fonts/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url('../src/fonts/Satoshi-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-reg';
  src: url('../src/fonts/Satoshi-Regular.otf') format('truetype');
}